<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Messages</ion-title>
    </ion-navbar>
</ion-header>
<!--<ion-content class="outer-content speaker-list">
    <ion-list>
        <ion-item *ngFor="let m of messages">
            <ion-avatar item-left>
            <img src="{{m.doctorImage}}">
            </ion-avatar>
            <h2>{{m.subject}}</h2>
            <p>{{m.message}}</p>
        </ion-item>

    </ion-list>
</ion-content>-->
<ion-content class="outer-content speaker-list">
    <ion-list>
        <ion-grid fixed>
            <ion-row align-items-stretch>
                <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let m of messages">
                    <ion-card class="speaker-card">

                        <ion-card-header>
                            <button ion-item detail-none (click)="showDetails(m)">
                              {{m.subject}}
                            </button>
                        </ion-card-header>

                        <ion-card-content class="outer-content">
                            <h3>{{m.message}}</h3>
                        </ion-card-content>

                        <ion-row no-padding>
                            <ion-col text-left col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="reply(m)">
                                  <ion-icon name='undo'></ion-icon>
                                Reply
                                </button>
                            </ion-col>
                            <ion-col text-center  col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="showDetails(m)">
          <ion-icon name='share-alt'></ion-icon>
         Details
        </button>
                            </ion-col>
                            <ion-col text-right  col-md-4>
                                <button ion-button clear small color="primary" icon-left (click)="showContactInfo(m)">
          <ion-icon name='chatboxes'></ion-icon>
          Contact
        </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
        <ion-list-header [hidden]="messages !== 0">
        No Messages Today!
    </ion-list-header>

</ion-content>
